*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background: #efeffe
}
.btn{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#choice1, #choice2 {
    cursor: pointer;
    display: inline-block;
    width: 49%;
    height: 50px;
    border: 2px solid #cdcdcd;
    background-color: #ababab;
    color: #05023b;
    border-radius: 10px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
#choice1:hover, #choice2:hover{
    background-color: #797878;
    color: #06024d;
    transition: all 0.5s ease;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
}
.container h1{
    margin-top: 30px;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: #ababab;
    border: 2px solid #dedede;
    border-radius: 15px;
    color: #4b183d
}
.container .timezone{
    width: 100%;
    border: 5px solid rgba(212, 207, 207, 0.555);
    border-radius: 10px;
    margin: 40px auto;
}
.container .timezone tr{
    background: #eceaea;
}
.container .timezone td{
    border-bottom: 3px dashed #dad3d3;
    
}
.container .timezone h3{
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
}
.container .timezone p{
    font-style: italic;
    padding-bottom: 20px;
}
.container .timezone .time{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/* -----------  media Queries  ------------*/


@media (min-width:351px) and (max-width:500px) {
    #choice1, #choice2{
        font-size: 18px;
        padding: 5px;
    }
    .container h1{
        text-align: center;
        width: 100%;
        padding: 20px;
        background: #ababab;
        border: 2px solid #dedede;
        border-radius: 15px;
        color: #4b183d
    }
    .container .timezone{
        width: 90%;
        border: 5px solid rgba(212, 207, 207, 0.555);
        border-radius: 10px;
        margin: 40px auto;
    }
    .container .timezone h3{
        font-size: 24px;
    }
    .container .timezone .time{
        font-size: 24px;
        
    }
}
@media (max-width:350px) {
    #choice1, #choice2{
        font-size: 12px;
        padding: 5px;
    }
    .container h1{
        width: 100%;
    }
    .container .timezone{
        width: 90%;
    }
    .container .timezone h3{
        font-size: 16px;
    }
    .container .timezone .time{
        font-size: 20px;
        
    }
}